
nav.nav-container {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  background: #394C94;
  z-index: 2;
  color:white;
  height: 120px;
  width: 100%;
  font-family: 'Bungee', cursive;
  font-size: 2.2rem;
  padding: 1.5em;
}

nav section.left-side-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.3rem;
}

nav section.left-side-container img {
  alt:'arrow';
  width:0.8em; 
  height:0.8em;
}

nav section.left-side-container img:hover {
  width:1.2em; 
  height:1.2em;
}

header.header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #D19034;
  align-items: center;
  height: 400px;
  width: 100%;
}

main.main-container {
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  padding: 10px;
  width: 90%;
}


@media only screen and (max-width: 500px) {
  nav section.left-side-container {
    font-size: 70%;
  }

  nav.nav-container {
    background:  #D19034;
    font-size: 100%;
  }
}

@media only screen and (min-width: 1024px) {

  body {
    display: flex;
  }

  .header-container {
    margin: 1em 1em 1em 2em;
    padding-top: 1em;
    border-radius: 5%;
  }

  main {
    width: 50%;
    margin-right: 2em;
  }
}

