.new-tweet {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding-top: .5em;
  width: 90%;
}

.bottom {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-family: 'Bungee', cursive;
  color: #545149;
  font-size: 20px;
}

.bottom button {
  background: #394C94;
  color:white;
  padding: 2px;
  padding-left: 8px;
  padding-right: 8px;
}

.form-inline {
  display: flex;
  flex-direction: column;
  background: transparent;
  color:#8f8f8d;
  font-weight: bold;
  width: 90%;
}

textarea {
  background: transparent;
  border: none;
  border-bottom: solid 5px #545149;
  color: #545149;
  outline: none;
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 0.5em;
  height: 45px;
}

/* The alert message box */
.alert {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #FF0000;
  color: #FFFFFF;
  padding: 0.4em;
  margin-bottom: 1em;
  width: 100%;
}

/* The close button */
.closebtn {
  font-weight: bold;
  cursor: pointer;
}

/* When moving the mouse over the close button */
.closebtn:hover {
  color: #000000;
}


